<div class="signup-wrapper">
    <h1>Sing up</h1>

    <form class="signup-form" action='/auth/signup' method='POST'>

        <label for=''>Username</label>
        <input type='text' name='username'>

        <label for=''>Email</label>
        <input type='email' name='email'>

        <label for=''>Password</label>
        <input type='password' name='password'>

        <button type='submit'>Sign up</button>
    </form>
</div>

{{!-- error message display --}}

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}