<h1>Edit account</h1>

<form action='/private/edit' method='POST'>

    {{!-- <img src="" alt="">
    <button>Change photo</button> --}}

    <label for=''>Username</label>
    <input type='text' name='username'>

    <label for=''>Email</label>
    <input type='email' name='email'>

    <label for=''>Password</label>
    <input type='password' name='password'>

    <label for=''>New Password</label>
    <input type='password' name='newPassword'>

    <button type='submit'>Save</button>
</form>

{{!-- error message display --}}

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}