<div class="home-search">
    <h3>Make your stay Easier</h3>
    {{!-- <input type="text" name="search"> --}}
    {{!-- <div><h3>Put an image I think</h3></div> --}}
    <hr>
</div>

<div class="list-cities">

    {{#each allCitiesFromDB}}
    <li>
        <a href="city/{{this.name}}" class="{{this.name}}">{{this.name}}</a>
    </li>
    {{/each}}

</div>