<div class="home-search">
    <h2>Make your stay Easier</h2>
    {{!-- <input type="text" name="search"> --}}
    <div>
        <h3>Put an image I think</h3>
    </div>
    <br>
</div>

<div class="list-cities">

    {{#each allCitiesFromDB}}
    <li class="{{this.name}}">
        <a href="city/{{this.name}}">{{this.name}}</a>
    </li>
    {{/each}}

</div>