<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h2>CityEasier</h2>
    <ul>
        <li> <a href="/"> Home</a></li>
        <li><a href="auth/signup">Sign up</a></li>
        <li><a href="auth/login">Log in</a> </li>
    </ul>
</nav>


<div class="">
    <h2>Make your stay Easier</h2>
    <input type="text" name="search">
    <br>
</div>

<div class="list-cities">

    {{#each allCitiesFromDB}}
    <li>
    <a href="city/{{this.name}}">{{this.name}}</a>
    </li>
    {{/each}}

</div>

<footer class="footer-copyright text-center py-3">

    <h3>Copyright</h3>
    <p>Michal</p>
    <p>Romero</p>

</footer>