
{{!-- Here will be the page that is in a city and show the category --> nombre barcelona y datos categoria --}}

<h2>Place Type page</h2>

 {{!-- {{#each listaCategoria}} --}}

<li><a href="/singleplace/placename">nombre de place</a></li>
<li><a href="/singleplace/placename">nombre de place</a></li>
<li><a href="/singleplace/placename">nombre de place</a></li>
<li><a href="/singleplace/placename">nombre de place</a></li>
<li><a href="/singleplace/placename">nombre de place</a></li>

{{!-- {{/each}} --}}