<h2>Single place</h2>

<p>Here is going to be on the details from a restaurant or museum orevent or hotel</p>
<div>

    <h2>{{restaurant.[0].name}}</h2>


    <img src="{{restaurant.[0].img}}" alt="">


</div>